* {
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
.top_right_circle {
    z-index: 1;
    position: absolute;
    /*left: 84%;*/
    /*top: -37%;*/
    top: -75%;
    left: 150%;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    transition: 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: 466.5px;
    background: linear-gradient(
        192deg,
        #67b0c0 8.77%,
        rgba(28, 129, 151, 0.66) 89.97%
    );
}
.middle_left {
    z-index: 1;

    position: absolute;
    /*left: -20%;
  top: 15%;*/
    top: 15%;
    left: -80%;
    width: calc(933px /2);
    height: calc(933px /2);
    flex-shrink: 0;
    transition: 3s cubic-bezier(0.25, 0.46, 0.45, 0.99);

    border-radius: 466.5px;
    background: linear-gradient(
        90deg,
        #26c1e3 -13.08%,
        rgba(7, 87, 105, 0.38) 104.98%
    );
}
.logo_banner {
    position: absolute;
    top: 5%;
    left: 45%;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    img{
        transform: scale(0.7);
    }
}
.hero {
    z-index: 5;

    h1 {
        margin-left: 10%;
        margin-top: 10%;
        width: 443px;
        height: 100px;
        color: #000;
        font-family: Arial;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        span {
            background: linear-gradient(99deg, #07a3c5 46.4%, #a9f0ff 101.89%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Arial;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    h3 {
        margin-top: 5vh;
        margin-left: 10%;
        width: calc(875px / 1.8);
        height: 160px;
        flex-shrink: 0;
        color: #000;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.99%; /* 53.757px */
    }
    button {
        margin-top: 0px;
        margin-left: 10%;
        width: calc(347px / 2);
        font-size: 15px;
        border: none;
        height: 35px;
        flex-shrink: 0;
        border-radius: 5px;
        cursor: pointer;
        background: linear-gradient(
            92deg,
            #008dad 13.23%,
            rgb(39, 213, 252) 109.88%
        );
        &:hover{
            transition: 1s ease-in-out;
            transform: scale(1.05);
        }
        &:not(:hover){
            transition: 1s ease-in-out;
        }
    }
}
.navbar {
    overflow: hidden;
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 8vh;
    background-color: transparent;
    .logo {
        margin-top: 1vh;
        margin-left: 7vw;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(
            93deg,
            #00b3da 2.8%,
            rgb(206, 243, 251) 120.32%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .links {
        margin-top: -150px;
        overflow: hidden;
        width: 900px;
        padding-top: 2vh;
        height: 300px;
        margin-left: 40%;
        transform: translate(-50%);
        background-color: transparent;
        transition: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        a {
            padding-top: 0px;
            margin-left: 50px;
            color: #637081;
            font-family: Arial;
            text-decoration: none;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
.vision {
    position: absolute;
    top: 130vh;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    .texts {
        display: flex;
        flex-direction: column;
        h1 {
            width: 350px;
            margin-left: 180px;
            color: #000;
            font-family: Arial;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            span {
                color: #6bd9f2;
                font-family: Arial;
                font-size: 55px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
        h3 {
            margin-top: 0px;
            width: 550px;
            margin-left: 100px;
            color: #000;
            font-family: Arial;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.99%; /* 60.476px */
        }
    }
    img {
        margin-top: 1%;
        margin-left: 10%;
        width: 450px;
        height: 450px;
        flex-shrink: 0;
    }
}

.cards {
    position: absolute;
    top: 250vh;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    .card1 {
        margin-left: 4vw;
        width: 90vw;
        height: 70vh;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 69px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        img {
            width: 50%;
            border-radius: 16px;
            margin-top: 42px;
            height: fit-content;
            margin-left: 42px;
            flex-shrink: 0;
            border-radius: 16px;
        }
        .details {
            padding-left: 2vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            h1 {
                color: #000;
                font-family: Segoe UI;
                font-size: 55px;
                margin-top: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h3 {
                color: #6c6c6c;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                width: 90%;
                height: 52%;
                font-weight: 700;
                line-height: normal;
            }
            button {
                width: 90%;
                color: #fff;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                border: none;
                font-weight: 700;
                line-height: normal;
                height: 10vh;
                flex-shrink: 0;
                border-radius: 8px;
                background: #2cc9ec;
                box-shadow: 0px 4px 41px 3px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .card2 {
        margin-left: 4vw;
        width: 90vw;
        height: 70vh;
        margin-top: 10vh;
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 4px 69px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        img {
            width: 50%;
            border-radius: 16px;
            margin-top: 42px;
            height: fit-content;
            margin-right: 42px;
            flex-shrink: 0;
            border-radius: 16px;
        }
        .details {
            padding-left: 50px;
            padding-right: 50px;
            h1 {
                color: #000;
                font-family: Segoe UI;
                font-size: 55px;
                margin-top: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h3 {
                color: #6c6c6c;
                margin-top: 5%;
                height: 47%;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            button {
                width: 90%;
                color: #fff;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                border: none;
                font-weight: 700;
                line-height: normal;
                height: 10vh;
                flex-shrink: 0;
                border-radius: 8px;
                background: #2cc9ec;
                box-shadow: 0px 4px 41px 3px rgba(0, 0, 0, 0.25);
            }
        }
    }
}
.events {
    position: absolute;
    top: 440vh;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    background-color: transparent;
    width: 100vw;
    padding: 0px;
    height: 250vh;

    img {
        width: 55vw;
        height: fit-content;
        flex-shrink: 0;
        margin-left: 50%;
        transform: translate(-50%);
    }
    h1 {
        margin-left: 50%;
        transform: translate(-15%);
        color: #000;
        font-family: Arial;
        font-size: 75px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    div {
        margin-left: 15px;
        height: 150vh;
        width: 96%;
        overflow-y: scroll;
        ::-webkit-scrollbar {
            margin-left: 15px;
            width: 14px;
        }
    }
    div div {
        width: 90vw;
        height: 25vh;
        border-radius: 27px;
        overflow-y: hidden;
        border: 1px solid #000;
        display: flex;
        background: rgba(255, 255, 255, 0.92);
        margin-top: 100px;
        margin-left: 2vw;
        h1 {
            margin-top: 10vh;
            margin-left: 10vw;
            font-size: 30px;
            width: 50%;
        }
        h2 {
            margin-left: 0vw;
            margin-top: 5vh;
            width: 30vw;
            font-size: 20px;
        }
    }
}
.anounce {
    position: absolute;
    top: 700vh;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    background-color: transparent;
    width: 100vw;
    padding: 0px;
    height: 250vh;
    img {
        width: 100vh;
        height: fit-content;
        flex-shrink: 0;
        margin-left: 50%;
        transform: translate(-50%);
    }
    h1 {
        margin-left: 43%;
        transform: translate(-15%);
        color: #000;
        font-family: Arial;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    div {
        margin-left: 50px;
        height: 1312px;
        border-radius: 70px;
        width: 96%;
        overflow-y: scroll;
        ::-webkit-scrollbar {
            margin-left: 15px;
            width: 14px;
        }
    }
    div div {
        width: 90vw;
        height: 30vh;
        border-radius: 27px;
        overflow-y: hidden;
        display: flex;
        border-radius: 27px;
        background: #ebebeb;
        margin-top: 100px;
        margin-left: 0px;
        h1 {
            margin-top: 12vh;
            width: 50%;
            margin-left: 10vw;
            font-size: 30px;
        }
        h2 {
            margin-left: 0vw;
            margin-top: 30px;
            width: 290px;
            font-size: 20px;
        }
    }
}
.faqs {
    width: 100vw;
    height: 50vh;
    background-color: #00b3da;
    position: absolute;
    top: 980vh;
    .accor {
        height: 180vh;
        width: 100vw;
        background-color: #008dad00;
    }
    h1 {
        width: 65vw;
        margin-left: 58%;
        margin-top: 9%;
        transform: translate(-50%);
        font-size: 100px;
        color: #fff;
        font-family: Arial;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.footer {
    position: absolute;
    top: 1150vh;
    height: 58.9vh;
    width: 100vw;
    background: linear-gradient(184deg, #2cc9ec 7.64%, #007994 96.73%);
    h1 {
        margin-top: 5vh;
        margin-left: 50px;
        width: 300px;
        color: #fff;
        font-family: Arial;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    div {
        margin-top: 20vh;
        margin-left: 50px;
        display: flex;
        z-index: 2;
        img{
            margin-top: 0px;
            width: 80px;
        }
        h2 {
            margin-left: 30px;
            color: #fff;
            font-family: Arial;
            font-size: 35px;
            margin-top: 2vh;
            font-style: normal;
            font-weight: 700;
            z-index: inherit;
            line-height: normal;
        }
    }
    img{
        width: 100vw;
        z-index: 1;
        margin-top: 64px;
    }
    .links {
        margin-top: -28vh;
        margin-left: 35vw;
        width: 1201px;
        height: 100px;
        flex-shrink: 0;
        background-color: transparent;
        display: flex;
        z-index: 2;
        div {
            border-right: 3px solid rgb(255, 255, 255);
            margin-left: 0px;
            margin-top: 0vh;
            height: 100%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            .wider{
                width: 200px;
            }
            div{
                border: none;
                margin: 0;
                padding: 0;
                height: 100px;
            }
            a {
                margin-left: 50px;
                font-size: 15px;
                width: 200px;
                color: white;
                text-decoration: none;
                color: #fff;
                font-family: Arial;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
}
